*{
  margin: 0;
  padding: 0;
}

ul, li{
  list-style: none;
}

#loginPanel{
  position: absolute;
  width: 300px;
  height: 200px;
  background: #aaa;
  left: 500px;
  top:500px;
}

.login_logo_webqq{
  background: #eee;
  width: 300px;
  height: 50px;
}

#ui_boxyClose{
  position: absolute;
  top:-10px;
  right: -10px;
  z-index: 1;
  width: 20px;
  height: 20px;
  background: #ddd;
  border-radius: 25px;
}